In [2]:
#dependencies
import dash
import dash as dcc
from dash import html
import plotly.graph_objects as go
import pandas as pd
import plotly.express as px

In [3]:
#import cleaned csv file from data folder
large_fires_df = pd.read_csv('data/cleaned_largefires.csv')

In [4]:
large_fires_df.head()

  FIRE_NAME  FIRE_YEAR  FIRE_SIZE FIRE_SIZE_CLASS   LATITUDE   LONGITUDE STATE
0       NaN       1992      160.0               D  36.357102  -94.961700    OK
1    203029       1992      170.0               D  57.065900 -154.085700    AK
2       NaN       1992      100.0               D  38.221945  -93.052871    MO
3      FORT       1992      125.0               D  35.033300 -114.617500    AZ
4       NaN       1992      100.0               D  35.698700 -114.246498    AZ

In [5]:
#create list of unique years for building drop down menu
years_list = large_fires_df.FIRE_YEAR.unique().tolist()

In [6]:
print(years_list)

[1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [7]:
#set year for testing for data
current_year = 1999

In [8]:
select_df = large_fires_df[large_fires_df['FIRE_YEAR'] == current_year]

In [9]:
select_df

,FIRE_NAME,FIRE_YEAR,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE
11947,ROBERTS,1999,175.0,D,33.618889,-107.418333,NM
11948,NUTRIOSO,1999,350.0,E,34.118611,-109.200556,AZ
11949,TELEPHONE,1999,2208.0,F,33.133400,-105.733900,NM
11950,FIVE,1999,316.0,E,34.881667,-118.926667,CA
11951,CANYON,1999,200.0,D,34.518611,-119.383056,CA
...,...,...,...,...,...,...,...
14447,SHINILIKRO,1999,930.0,E,66.432800,-157.436000,AK
14448,KILIOVILIK,1999,2061.0,F,66.616100,-157.252700,AK
14449,BIG CREEK,1999,512.0,E,64.732700,-154.852500,AK
14450,FIELDS,1999,700.0,E,32.954700,-103.530296,NM
14451,HENSHAW CR,1999,280.0,D,66.566200,-152.269300,AK